nav{
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin: 25px 100px;
  background-position: center;
}
body{
  background-color: white;
  background-position: center;
}
.board{
  display: flex;
  justify-content: space-around;
  background-color: black;
  margin: 25px 100px;
  height: 500px;
  width: auto;
  background-image: url("images/kantomap.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.towers{
  height: 500px;
  width: 250px;
  background-color:rgba(240, 248, 255, 0.5);
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.tiles{
  height: 55px;
}
#tower1{
  background-image: url(images/bulbasaur.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tower2{
  background-image: url(images/charmander.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tower3{
  background-image: url(images/squirtle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#t1{
  background-color: rgba(0, 0, 0, 0);
  width: 70px;
  background-image: url(images/PokeBall.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50px;
  color: rgba(0, 0, 0, 0);
}
#t2{
  background-color: rgba(0, 0, 0, 0);
  width: 110px;
  background-image: url(images/GreatBall.png);
  background-position: left;
  background-repeat: repeat;
  background-size: contain;
  color: rgba(0, 0, 0, 0);
  border-radius: 50px;
}
#t3{
  background-color: rgba(0, 0, 0, 0);
  width: 160px;
  background-image: url(images/UltraBall.png);
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  color: rgba(0, 0, 0, 0);
  border-radius: 50px;
}
#t4{
  background-color: rgba(0, 0, 0, 0);
  width: 220px;
  background-image: url(images/MasterBall.png);
  background-position: left;
  background-repeat: repeat;
  background-size: contain;
  color: rgba(0, 0, 0, 0);
  border-radius: 50px;
}
.active{
  border: 2px solid black;
}
@media (max-width: 500px){
  nav{
    display: flex;
    justify-content: space-around;
 }
  body{
      background-position: center;
 }
 .board{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   background-color: black;
   margin: 25px 100px;
   height: 400px;
   width: auto;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
   .towers{
     height: 400px;
     width: 250px;
     background-color:rgba(240, 248, 255, 0.5);
     margin: 0 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-end;
   }
   .tiles{
     height: 55px;
}


}
